.slide-controls {
  text-align: center; 
}
.slide-controls .control, .slide-controls .progress {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: #fff;
  border-radius: 100%;
}
.slide-controls .control {
  margin-right: .2em;
  width: 2.75em;
  line-height: 2.75em;
  border-width: .15em; 
  border-style: solid;
}
.slide-controls .current {
  background-color: #fff;
  color: #000;
}
.slide-controls .progress {
  margin-right: .2em;
  width: .25em;
  height: .25em;    
  background-color: #fff;
  opacity: 0;     /* will vary to indicate timeout progress */
}
.slide-controls > .progress {
  margin-left: -1.3em;    /* so that controls appear centered */
}
.slide-controls > .progress ~ .progress {
  margin-left: 0;         /* undo for all children except first */
} 