.slide-nav {
  margin: 1.8em 0;
  text-align: center; 
}
.slide-nav .control, .slide-nav .progress {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: #fafafa;
  border-radius: 100%;
}
.slide-nav .control {
  margin-right: .45em;
  width: 2.75em;
  line-height: 2.75em;
  border-width: .15em; 
  border-style: solid;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;     /* duration for user clicks */
}
.slide-nav .control:hover, .slide-nav .current, .control.on {
  background-color: #fafafa;      /* control.on: JS-added class to trigger background and color change with progress-specific duration rule */
  color: #000;
}
.slide-nav .progress {
  margin-right: .45em;
  width: .25em;
  height: .25em;    
  background-color: #fafafa;
  opacity: 0;               
  transition-property: opacity;   /* will vary to indicate timeout progress; progress-specific duration set through JS */
}
.progress.on {                    /* JS-added class to trigger opacity change */
  opacity: 1;
}
.slide-nav > .progress {
  margin-left: -1.3em;            /* so that controls appear centered */
}
.slide-nav > .progress ~ .progress {
  margin-left: 0;                 /* undo for all children except first */
} 
.slide-deck {
  overflow: hidden;
  position: absolute;
  top: 6.35em;
  left: 1.8em;
  bottom: 1.8em;
  right: 1.8em;
  background-color: #fafafa;
}
.slide-deck > * {
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  width: 100%;                    /* to avoid squashing, will be accompanied by min-width: [natural width] injected with JS */
  height: auto;
  min-height: 100%;
  opacity: 0;
  transition-property: opacity;   /* will vary to indicate timeout progress */ 
  transition-duration: 300ms;     /* duration for user-triggered display */   
}
.slide-deck .on {                 /* JS-added class to trigger opacity change with progress-specific duration rule */
  opacity: 1;                    
}
.slide-deck .void {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.slide-deck .void span {
  padding: .4em 1em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 400;
  color: #4d4c4e;
  border: .1em solid #4d4c4e;
}